#hotel{
    padding-bottom: 150px;
}
.hotel__wrapper {
    background-color: #F1F1F1;
    padding: 20px 50px;
    border-radius: 20px;
}
.hotel__text {
    font-size: 52px;
    font-weight: 400;
    line-height: 58px;
    color: rgb(0, 0, 0);
}
@media (max-width: 1200px) {
    #hotel{
        padding-bottom: 90px;
    }
    .hotel__text {
        font-size: 40px;
        line-height: 50px;
    }
}
@media (max-width: 1080px) {
    #hotel{
        padding-bottom: 70px;
    }
    .hotel__wrapper {
        padding: 15px 35px;
    }
    .hotel__text {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 850px) {
    #hotel{
        padding-bottom: 50px;
    }
    .hotel__wrapper {
        padding: 10px 25px;
    }
    .hotel__text {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-size: 22px;
        line-height: 34px;
    }
}
@media (max-width: 400px) {
    .hotel__wrapper {
        padding: 8px 20px;
    }
    .hotel__text {
        font-size: 18px;
        line-height: 26px;
    }
}
@media (max-width:350px) {
    #hotel{
        padding-bottom: 40px;
    }
    .hotel__wrapper {
        padding: 8px 16px;
    }
    .hotel__text {
        font-size: 16px;
        line-height: 20px;
    }
}