#customer{
    padding-bottom: 80px;
}
.customer__wrapper {
    padding: 28px 56px;
    background-color: #A9FF2C;
    border-radius: 20px;
}
.customer____text {
    font-size: 46px;
    font-weight: 400;
    line-height: 51px;
}
@media (max-width: 1100px) {
    .customer____text {
        font-size: 30px;
        line-height: 51px;
    }
    .customer__wrapper {
        padding: 28px 40px;
    }
}
@media (max-width: 800px) {
    .customer____text {
        font-size: 22px;
        line-height: 36px;
    }
    .customer__wrapper {
        padding: 20px 30px;
    }
}
@media (max-width: 600px) {
    .customer____text {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-size: 22px;
        line-height: 36px;
    }
    #customer{
        padding-bottom: 40px;
    }
}
@media (max-width: 450px) {
    .customer____text {
        display: -webkit-box;
        line-clamp:3;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-size: 16px;
        line-height: 25px;
    }
    #customer{
        padding-bottom: 40px;
    }
}